name: Training & Docker Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  # Kita akan setting "Secrets" ini di GitHub nanti
  MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
  MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PWD: ${{ secrets.DOCKER_PWD }}

jobs:
  train-and-build:
    runs-on: ubuntu-latest
    steps:
      # 1. Ambil kode dari Repo
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # 3. Install Library
      - name: Install Dependencies
        run: |
          pip install -r Membangun_model/requirements.txt

      # 4. Login ke Docker Hub (Agar bisa upload image)
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PWD }}

      # 5. Jalankan Training (Hasilnya masuk DagsHub)
      - name: Run Model Training
        run: python MLProject/modelling.py

      # 6. Build Docker Image dari Model Terakhir
      # Script python kecil ini mengambil ID training terakhir lalu membuat Docker Image
      - name: Build & Push Docker Image
        run: |
          # Ambil Run ID dari eksperimen terakhir
          export RUN_ID=$(python -c "import mlflow; mlflow.set_tracking_uri('${{ secrets.MLFLOW_TRACKING_URI }}'); mlflow.set_experiment('Experiment_Interview_Model'); print(mlflow.search_runs(max_results=1).iloc[0].run_id)")
          
          echo "Found Last Run ID: $RUN_ID"
          echo "Building Docker Image..."
          
          # Perintah MLflow untuk bungkus model jadi Docker
          mlflow models build-docker -m "runs:/$RUN_ID/model" -n "${{ secrets.DOCKER_USER }}/interview-model:latest"
          
          # Upload ke Docker Hub
          docker push ${{ secrets.DOCKER_USER }}/interview-model:latest